<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <style>
      body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
      }

      .topnav {
        overflow: hidden;
        background-color: #333;
      }

      .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }

      .topnav a.active {
        background-color: #04aa6d;
        color: white;
      }
      body,
      h1 {
        font-family: "Raleway", sans-serif;
      }
      body,
      html {
        height: 100%;
      }
      .bgimg {
        background-image: url("https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Zm9yZXN0fGVufDB8fDB8fA%3D%3D&w=1000&q=80");
        min-height: 100%;
        background-position: center;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="services">Our services</a>
      <a href="Contactus">Contact us</a>
    </div>
    <!-- ----------------Nab var---------------- -->

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
      <div class="w3-display-topleft w3-padding-large w3-xlarge">Logo</div>
      <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top">COMING SOON</h1>
        <hr class="w3-border-grey" style="margin: auto; width: 40%" />
        <p class="w3-large w3-center">35 days left</p>
      </div>
      <div class="w3-display-bottomleft w3-padding-large">
        Powered by Nidhal Rebhi
      </div>
    </div>
  </body>
</html>
